<style>
    .modal{
        background-color: rgba(0, 0, 0, 0.87);
        justify-content: center;
        align-content: center;
    
    }
    
    .modal-backdrop{
        z-index:-1;
    }
    

</style>


<div class = "modal" id = "Modal-Confirm-Registration-Access" role="dialog"
tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
        
            <div class="container-login100">
                <div class="wrap-login100">
                    <span class="login100-form-title p-b-40">
                        Confirm Registration Access
                    </span>
                    <form class="login100-form validate-form" method="POST" action="{{url_for('login_page')}}">
                        {{registration_access.hidden_tag() }}
                        
                        <div class="wrap-input100 validate-input" data-validate = "Enter Employee ID">
                        {{registration_access.employee_id(class="input100", placeholder="Employee ID")}}
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate = "Enter Email">
                        {{registration_access.employee_email(class="input100", placeholder="Email")}}
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>
                        

                        <div>
                            {{registration_access.access_confirm (class="btn login100-form-btn m-t-32 m-b-30 m-l-30")}}
                            
                            <button type="button" class="btn btn-danger m-l-30"
                                    data-dismiss="modal" > Close                    
                            </button>
                       
                        </div>
                        
                    </form>
                    
            </div>
        </div>
     
</div>
